<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos de la Request</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/basics.css')}}">

    <style>
        .container{
            width: auto;
            word-wrap: break-word;
        }
        .data-item {
            margin-bottom: 1rem; 
            font-size: 1.2rem; 
        }

        .data-item strong {
            color: #555;
        }
        
        @media (max-width: 600px) {
            .container {
                padding: 1rem;
                width: 100%; 
            }

            .data-item {
                font-size: 1rem; 
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <h1>Datos Recibidos</h1>
            {% if datos %}
                <ul>
                    {% for key, value in datos.items() %}
                    <li class="data-item"><strong>{{ key }}:</strong> {{ value }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No se recibieron datos.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
