<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/basics.css')}}">
    <title>Usuario no encontrado</title>
    <style>
        .error-container {
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            width: 300px;
            text-align: center;
        }
        .error-container h1 {
            color: #ff4d4d;
        }
        .error-container p {
            color: #555;
        }
    </style>
</head>
<body>
    <div class="error-container">
        <h1>Usuario no encontrado</h1>
        <p>No pudimos encontrar el usuario que estás buscando.</p>
    </div>
</body>
</html>
